{% if about_me.description %}
<section class="page-section bg-primary text-white mb-0" id="about">
  <div class="container">

    <!-- About Section Heading -->
    <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>

    <!-- Icon Divider -->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fas fa-star"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>

    <!-- About Section Content -->
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8 text-center">
        <p class="lead" style="font-size: 1.5em;">
        
        
         {{about_me.description|safe}}
    
        
        </p>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
</section>
{% endif %}