<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">

      <!-- About Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- About Section Content -->
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6 text-center">
          <p class="lead">
            <span class="h5">Hello my name is Omar Baleid MasterBDX</span>(nickname)  
            I’m a full-stack web developer. I can help you solve a problem, build
            a product or grow existing project 
            I really enjoy turning complex problems into simple piece of  code and make awesome and interactive websites 
            using my favorite languages (Javascript - Python)</p>
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>
  </section>