{% load static %}
<!-- Custom fonts for this theme -->
 <link rel="shortcut icon" href="/" />

 	<link href="{% static 'vendor/fontawesome-free/all.min.css' %}"
  		rel="stylesheet">
  
  
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Theme CSS -->
  <link href="{% static 'css/freelancer.min.css' %}"
  		rel="stylesheet">
