<!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <div class="row">

        <!-- Footer Location -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          {% if location %}
          <h4 class="text-uppercase mb-4">Location</h4>
          <p class="lead mb-0 location">
            Country &nbsp;:&nbsp;{{location.country.name}}
            <span>
            <img src="{{location.country.flag}}" />
            </span>
            <br>
            {% if about_me.province %}
            Province &nbsp;:&nbsp; {{location.province}}
            <br>
            {% endif %}
            {% if location.township %}
            Township &nbsp;:&nbsp; {{location.township}}
            <br>
            {% endif %}
            City &nbsp;:&nbsp; {{location.city}}
            <br>
          </p>
          {% endif %}
        </div>

        <!-- Footer Social Icons -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Online</h4>
          <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/master.bdx.35?ref=bookmarks">
            <i class="fab fa-fw fa-facebook-f"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" 
             href="https://twitter.com/masterbdx">
            <i class="fab fa-fw fa-twitter"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" 
             href="https://www.linkedin.com/in/master-bdx-365201197/">
            <i class="fab fa-fw fa-linkedin-in"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1"
             href="https://github.com/MasterBDX">
            <i class="fab fa-fw fa-github"></i>
          </a>
          <br />
          <br />
          {% if about_me.phone_number %}
            <p class="phoneNumber">Phone Number : {{about_me.phone_number}}</p>
          {% endif %}
        </div>

        <!-- Footer About Text -->
        <div class="col-lg-4">
          <h4 class="text-uppercase mb-4">
            Omar Baleid (MasterBDX)</h4>
            {% if about_me.overview %}
          <p class="lead mb-0 overview">
            {{about_me.overview}}
          </p>
           {% endif %}
        </div>

      </div>
    </div>
  </footer>
