<!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <div class="row">

        <!-- Footer Location -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Location</h4>
          <p class="lead mb-0">Aljufra Houn
            <br>500 Street</p>
        </div>

        <!-- Footer Social Icons -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Online</h4>
          <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/master.bdx.35?ref=bookmarks">
            <i class="fab fa-fw fa-facebook-f"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" 
             href="https://twitter.com/masterbdx">
            <i class="fab fa-fw fa-twitter"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" 
             href="https://www.linkedin.com/in/master-bdx-365201197/">
            <i class="fab fa-fw fa-linkedin-in"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1"
             href="https://github.com/MasterBDX">
            <i class="fab fa-fw fa-github"></i>
          </a>
        </div>

        <!-- Footer About Text -->
        <div class="col-lg-4">
          <h4 class="text-uppercase mb-4">Omar Baleid (Masterbdx)</h4>
          <p class="lead mb-0">
            I’m a full-stack web developer. I can help you solve a problem, build a product or grow existing project 
            
           </p>
        </div>

      </div>
    </div>
  </footer>
