<!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <div class="row">

        <!-- Footer Location -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          {% if location %}
          <h4 class="text-uppercase mb-4">Location</h4>
          <p class="lead mb-0 location">
            Country &nbsp;:&nbsp;{{location.country.name}}
            <span>
            <img src="{{location.country.flag}}" />
            </span>
            <br>
            {% if info.province %}
            Province &nbsp;:&nbsp; {{location.province}}
            <br>
            {% endif %}
            {% if location.township %}
            Township &nbsp;:&nbsp; {{location.township}}
            <br>
            {% endif %}
            City &nbsp;:&nbsp; {{location.city}}
            <br>
            {% if location.street %}
            Street &nbsp;:&nbsp; {{location.street}}
            <br>
            {% endif %}
            {% if location.house_num %}
            House Number &nbsp;:&nbsp; {{location.house_num}}
            <br>
            {% endif %}
            {% if location.zip_code %}
            Zip Code &nbsp;:&nbsp; {{location.zip_code}}
            <br>
            {% endif %}
          </p>
          {% endif %}
        </div>

        <!-- Footer Social Icons -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          {% if info %}
            <h4 class="text-uppercase mb-4">Online</h4>
            {% if info.facebook %}
            <a class="btn btn-outline-light btn-social mx-1" 
              href="{{info.facebook}}">
              <i class="fab fa-fw fa-facebook-f"></i>
            </a>
            {% endif %}
            {% if info.twitter %}
            <a class="btn btn-outline-light btn-social mx-1" 
              href="{{info.twitter}}">
              <i class="fab fa-fw fa-twitter"></i>
            </a>
            {% endif %}

            {% if info.linkedin %}
            <a class="btn btn-outline-light btn-social mx-1" 
              href="{{info.linkedin}}">
              <i class="fab fa-fw fa-linkedin-in"></i>
            </a>
            {% endif %}
            
            {% if info.github %}
              <a class="btn btn-outline-light btn-social mx-1"
                href="{{info.github}}">
                <i class="fab fa-fw fa-github"></i>
              </a>
            {% endif %}
            <br />
            <br />
            {% if info.phone_number %}
              <p class="phoneNumber">
                Phone Number : {{info.phone_number}}</p>
            {% endif %}
            {% endif %}
          </div>
        <!-- Footer About Text -->
        <div class="col-lg-4">
          <h4 class="text-uppercase mb-4">
            Omar Baleid (MasterBDX)</h4>
            {% if info.overview %}
          <p class="lead mb-0 overview">
            {{info.overview}}
          </p>
           {% endif %}
        </div>

      </div>
    </div>
  </footer>
