{% load static %}
{% if projects.exists %}
<section class="page-section portfolio" id="portfolio">
    <div class="container">

      <!-- Portfolio Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Projects</h2>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Portfolio Grid Items -->
      <div class="row">

        {% for project in projects %}
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal{{project.id}}">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{{project.img.url}}" alt="">
          </div>
        </div>

        <!-- Portfolio Modal 1 -->
          <div class="portfolio-modal modal fade" id="portfolioModal{{project.id}}" tabindex="-1" role="dialog" aria-labelledby="portfolioModal{{project.id}}Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
              <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">
                    <i class="fas fa-times"></i>
                  </span>
                </button>
                <div class="modal-body text-center">
                  <div class="container">
                    <div class="row justify-content-center">
                      <div class="col-lg-8">
                        <!-- Portfolio Modal - Title -->
                        <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">{{project.title}}</h2>
                        <!-- Icon Divider -->
                        <div class="divider-custom">
                          <div class="divider-custom-line"></div>
                          <div class="divider-custom-icon">
                            <i class="fas fa-star"></i>
                          </div>
                          <div class="divider-custom-line"></div>
                        </div>
                        <!-- Portfolio Modal - Image -->
                        <img class="img-fluid rounded mb-5" src="{{project.img.url}}" alt="">
                        <!-- Portfolio Modal - Text -->
                        <p class="mb-5" style="font-size: 1.5em;">
                            {{project.description|safe}}
                        </p>
                        <button class="btn btn-primary mr-1" href="#" data-dismiss="modal">
                          <i class="fas fa-times fa-fw"></i>
                          Close
                        </button>
                        {% if project.github %}
                            <a class="btn btn-dark mr-1" href="{{project.github}}">
                              <i class="fab fa-github fa-fw"></i>
                              Github
                            </a>
                        {% endif %}
                        {% if project.live %}
                            <a type="" class="btn btn-danger mr-1" href="{{project.live}}">
                              <i class="far fa-window-maximize fa-fw"></i>
                              Live Preview
                            </a>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          {% endfor %}
       
      </div>
      <!-- /.row -->

    </div>
  </section>
  {% endif %}